body {background-color:#F5DA81; 
}
#buttons {width: 800px;
}
.bt-space {width: 200px; text-align: center;
}
#p-wt {width: 800px;
}
.pt-wt {width: 800px; color: #E6E6E6;
}
#pics{width: 800px;
}
#vermont{width: 225px; height: 155px; padding: 15px; 
}
#comp{width: 225px; height: 175px; padding: 15px;
}
#hills{width: 225px; height: 155px; padding: 15px; 
}
.java-space{margin: 10px; padding: 10px;
}
