body {background-color:#F5DA81; 
}
#buttons {width: 800px;
}
.bt-space {width: 200px; text-align: center;
}
#p-wt {width: 800px;
}
.pt-wt {width: 800px; color: #E6E6E6;
}
#hills{width: 200px; height: 150px; margin: 50px; float: left;
}
#vermont{width: 200px; height: 150px; margin: 50px;
}
#comp{width: 200px; height: 150px; margin: 50px; float: right;
}
